
@{ ViewData["Title"] = "Home Page";
}
<script src="site.js"></script>
<div class="text-center">
    <h1> Anna aiheesi Id tai Title</h1>
    <input type="text" placeholder="" id="myInput"> <br /><br />
    <button type="button" onclick="getInputValue()" action:  >Hae</button>
    
</div>

