@{
    ViewData["Title"] = "Mursukauppa";
}
<h1>@ViewData["Title"]</h1>
<div class="mursu">
    <h1>Tilaa nyt kestävä mökki mursu kotiisi! </h1>
    <h1>Lisätietoa ja hinnsato soittamalla</h1>
  

</div>
